*{
    margin: 0;
    padding: 0;
}

.service{
    border: 1px solid white;
    background-color: white;
    border-radius: 5px;

    padding: 7px;

    font-size: 1.0rem;
}

.publish{
    /* border: 1px solid white; */
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 7px;
    /* padding-right: 5px; */
    font-size: 1.0rem;
    color: rgb(151, 138, 138);
}

.save{
    font-size: 12px;
}
.save-text{
    font-weight: bolder;
    font-size: 13px;
    color: whitesmoke;
}

/* To Be REMOVED */
.draw-container{
    display: flex;
    /* width: 100%; */
    z-index: -1;
    /* height: 70vh; */
  
}
/* .draw-box{ */
    /* background-color: rgb(212, 209, 209); */
    /* width: 5%;
    height: 70vh;
    background-color: green;
    height: 5vh;
} */
.draw-box{
    /* background-color: rgb(212, 209, 209); */
    width: 5%;
    /* background-color: green; */
    height: 5vh;
    margin: 2px;
    padding: 20px;
    z-index: 0;

}

.draw-area{
    background-color: rgb(212, 209, 209);
    height: 80vh;
    width: 100%;

}
/* --------------------------Draw area------------------- */

.table-row{
    background-color: rgb(253, 254, 255);
    width: 100%;
    height: 70vh;
    
}

.table-shapes{
    display: flex;
    justify-content: space-between;
}

.circle{
    background-color: white;
    border: 2px solid black;
    border-radius: 50px;
    width: 40;
    padding: 20px;
    height: 40;
    font-size: 30px;
    cursor: move;
    z-index: 10;
}

.rectangle{
    background-color: white;
    border: 2px solid black;
    width: 5%;
    height: 5vh;
    /* margin-left: 10px; */
    padding: 20px;
    font-size: 30px; 
    cursor: move;
}

.diamond{
    background-color: white;
    border: 2px solid black;
    width: 5%;
    /* margin-left: 16px; */
    padding: 17px;
    height: 5vh;
    font-size: 20px;
    transform: rotate(45deg);
    cursor: move;
}

.barrier-bold{
    background-color: black;
    width: 70%;
    height: 15px;
}

.barrier-hollow{
    background-color: white;
    border: 2px solid black;
    width: 70%;
    height: 30px;
}

.barrier-label{
    background-color: white;
    border: 1.5px solid rgb(160, 156, 156);
    width: 60%;
    height: 30px;
}
.barrier-label,span{
    font-size: 0.9rem;
    color: rgb(82, 80, 80);
    text-align: center;
    padding-top: 5px;
}

.hold-circle{
    border: 2px solid green;
    /* background-color: white;
    border: 2px solid green;
    border-radius: 50px;
    padding: 20px;
    font-size: 30px; */
}
.hold-circle-original{
    border: 2px solid black;
}

.hold-rectangle{
    border: 2px solid green;
}
.hold-rectangle-original{
    border: 2px solid black;
}
.hold-diamond{
    /* border: 2px solid green;
    transform: rotate(45deg); */
    background-color: white;
    border: 2px solid green;
    margin-left: 16px;
    padding: 17px;
    font-size: 20px;
    transform: rotate(45deg);
}
.hold-diamond-original{
    border: 2px solid black;
}